.title-with-icon {
  display: flex;
  align-items: center;
  justify-content: left; /* centraliza dentro do ion-title */
  gap: 0.5rem; /* espaço entre ícone e texto */
}

.circle-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #e0e0e0; /* cor do círculo */
}

.circle-icon ion-icon {
  font-size: 18px;
  color: #555; /* cor do ícone */
}
